<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Computer Science (running)</h1>
            <span>University of Helsinki</span>
            <span><address>Helsinki, Finland</address></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.Sc. in Computer Science and Engineering</h1>
            <span>Eastern University of Bangladesh</span>
            <span><address>Dhaka, Bangladesh</address></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
