<section class="thirteen columns">
    <h1>Employment</h1>
    

    <article>
        <header>
            <h1>Junior Machine Learning Engineer at Integrify ©</h1>
            <span><address>Helsinki, Southern Finland, Finland</address><time>April 2020 - Present</time></span>
        </header>
        <p> Currently completing an intensive 6-month-long training program in Machine Learning at Integrify. Working with Python,
        Scikit-learn, and TensorFlow among others to tackle real-life challenges. Interested? See the full curriculum on
        integrify.io
        Will be available for consulting starting from October 2020. Want to work together? Get in touch with Joona Ohra-aho:
        joona@integrify.io / +358 400 579 588

        </p>
    </article>
</section>
